<% response = HTTParty.get('https://www.premierfooty.club/api/v1/nufc') %>
<% count = response['count'] %>
<div class="welcome text-center padded" style="text-align: center">
  <div class="header">
    <%= image_tag "nufc.png", alt: "NUFC logo" %>
    <h1>Time I'll Never Get Back</h1>
  </div>

  <h5>Games Failed to Score</h5>
  <p id='games'><%= count %></p>

  <h5>Minutes</h5>
  <p id='minutes'><%= count * 90 %></p>

  <h5>Hours</h5>
  <p id='hours'><%= count * 1.5 %></p>

  <h5>Days</h5>
  <p id='days'><%= ((count * 1.5) / 24).round(3) %></p>

  <p class="doc">
  </p>
</div>
